<div class="jumbotron">
  <h1>ez<i>Desk</i>&nbsp<img src="images/ezdesk.png" height="75" width="75"></h1>
  <p>A <i>streamlined</i> survery application.</p>
  <p><button class="btn btn-primary btn-lg" ng-click="open()">Learn more</button></p>
</div>

<div class="container" ng-controller="HomeController">
	<!-- CREATE ABOUT MODAL -->
	<script type="text/ng-template" id="myHomeModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">about</h3>
        </div>
        <div class="modal-body">
        	<p>ezDesk is a web application that polls employee desk preferences. Log in with your employee username and select your desk! Please contact <a href="mailto:support@example.com">Technical Support</a> with any issues, questions or concerns.</p>
        </div>

        <div ng-show="!currentUser" class="modal-footer">
            <button class="btn btn-primary" ng-click="loginOrRegister('/login')">log in</button>
            <button class="btn btn-warning" ng-click="loginOrRegister('/register')">register</button>
        </div>
    </script>
    <!-- / ABOUT MODAL -->
</div>