<h1> </h1>
<div class="container">
      <div class="row">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{userProfile.username}} - {{userProfile.firstName}} {{userProfile.lastName}}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
              <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>teams:</td>
                      <td ng-repeat="team in userProfile.teams">
                        <a href="#/team/{{team}}">{{team}}</a>
                      </td>
                    </tr>
                    <tr>
                      <td>players:</td>
                      <td ng-repeat="player in userProfile.players">
                        <a href="#/player/{{player}}">{{player}}</a>
                      </td>
                    </tr>
                    <tr>
                      <td>following: {{userProfile.following.length}}</td>
                    </tr>
                    <tr>
                      <td>followers: {{userProfile.followers.length}}</td>
                    </tr>
                  </tbody>
                </table>
                <a class="btn btn-primary" ng-class="{ 'btn-warning' : ((currentUser.following.indexOf(userProfile.username) != -1))}" ng-click="editFollowing(currentUser, userProfile.username, currentUser.following.indexOf(userProfile.username) != -1)">
                  <span>{{currentUser.following.indexOf(userProfile.username) != -1 ? 'unfollow' : 'follow'}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>